<style>
    .scrollBgAplications {
        &::-webkit-scrollbar {
            width: 5px;
           
        }
        &::-webkit-scrollbar-thumb {
            @apply bg-gray-500 rounded-full;
        }
    }
</style>

<div
    class="scrollBgAplications md:w-1/2 flex flex-wrap justify-center items-center gap-4 overflow-y-scroll p-3 max-h-[45vh] md:max-h-[70vh] lg:max-h-[70vh]"
>
    <article
        class="relative flex flex-col items-center justify-center w-full transition-all bg-[#121226]/50 border border-midu-primary/40 rounded-[20px] group overflow-hidden hover:scale-105 max-w-52"
    >
        <div class="w-full p-[14px] rounded transition">
            <figure class="flex items-center justify-center">
                <img
                    class="object-cover w-full aspect-square rounded-[10px]"
                    src="/logo_qr_proyect.jpeg"
                    alt="Logo Application."
                /><img
                    class="absolute opacity-70 transform-gpu blur-lg -z-10 block object-cover w-full aspect-square transition bg-white rounded-[10px]"
                    src="/logo_qr_proyect.jpeg"
                    alt=""
                />
            </figure>
            <header class="flex items-center justify-between mt-4 gap-x-2">
                <h3 class="text-[16px] font-bold text-left text-white">
                    <a href="/" target="_blank" rel="external noopener nofollow"
                        >Lector QR</a
                    >
                </h3>
            </header>
            <footer class="flex items-center justify-between gap-x-2">
                <p class="text-xs text-left text-white/60">
                    By: Brayan Cardona
                </p>
            </footer>
        </div>
    </article>

    <article
        class="relative flex flex-col items-center justify-center w-full transition-all bg-[#121226]/50 border border-midu-primary/40 rounded-[20px] group overflow-hidden hover:scale-105 max-w-52"
    >
        <div class="w-full p-[14px] rounded transition">
            <figure class="flex items-center justify-center">
                <img
                    class="object-cover w-full aspect-square rounded-[10px]"
                    src="/logo-proyect-create-imagen.jpeg"
                    alt="Logo Application."
                /><img
                    class="absolute opacity-70 transform-gpu blur-lg -z-10 block object-cover w-full aspect-square transition bg-white rounded-[10px]"
                    src="/logo-proyect-create-imagen.jpeg"
                    alt=""
                />
            </figure>
            <header class="flex items-center justify-between mt-4 gap-x-2">
                <h3 class="text-[16px] font-bold text-left text-white">
                    <a href="/" target="_blank" rel="external noopener nofollow"
                        >Make Images</a
                    >
                </h3>
            </header>
            <footer class="flex items-center justify-between gap-x-2">
                <p class="text-xs text-left text-white/60">
                    By: Brayan Cardona
                </p>
            </footer>
        </div>
    </article>

    <article
        class="relative flex flex-col items-center justify-center w-full transition-all bg-[#121226]/50 border border-midu-primary/40 rounded-[20px] group overflow-hidden hover:scale-105 max-w-52"
    >
        <div class="w-full p-[14px] rounded transition">
            <figure class="flex items-center justify-center">
                <img
                    class="object-cover w-full aspect-square rounded-[10px]"
                    src="/logo-compress-img.jpeg"
                    alt="Logo Application."
                /><img
                    class="absolute opacity-70 transform-gpu blur-lg -z-10 block object-cover w-full aspect-square transition bg-white rounded-[10px]"
                    src="/logo-compress-img.jpeg"
                    alt=""
                />
            </figure>
            <header class="flex items-center justify-between mt-4 gap-x-2">
                <h3 class="text-[16px] font-bold text-left text-white">
                    <a href="/" target="_blank" rel="external noopener nofollow"
                        >Compress Images</a
                    >
                </h3>
            </header>
            <footer class="flex items-center justify-between gap-x-2">
                <p class="text-xs text-left text-white/60">
                    By: Brayan Cardona
                </p>
            </footer>
        </div>
    </article>

    <article
        class="relative flex flex-col items-center justify-center w-full transition-all bg-[#121226]/50 border border-midu-primary/40 rounded-[20px] group overflow-hidden hover:scale-105 max-w-52"
    >
        <div class="w-full p-[14px] rounded transition">
            <figure class="flex items-center justify-center">
                <img
                    class="object-cover w-full aspect-square rounded-[10px]"
                    src="/logo-recording-screen-proyect.jpeg"
                    alt="Logo Application."
                /><img
                    class="absolute opacity-70 transform-gpu blur-lg -z-10 block object-cover w-full aspect-square transition bg-white rounded-[10px]"
                    src="/logo-recording-screen-proyect.jpeg"
                    alt=""
                />
            </figure>
            <header class="flex items-center justify-between mt-4 gap-x-2">
                <h3 class="text-[16px] font-bold text-left text-white">
                    <a href="/" target="_blank" rel="external noopener nofollow"
                        >Recording Screen</a
                    >
                </h3>
            </header>
            <footer class="flex items-center justify-between gap-x-2">
                <p class="text-xs text-left text-white/60">
                    By: Brayan Cardona
                </p>
            </footer>
        </div>
    </article>

    <article
        class="relative flex flex-col items-center justify-center w-full transition-all bg-[#121226]/50 border border-midu-primary/40 rounded-[20px] group overflow-hidden hover:scale-105 max-w-52"
    >
        <div class="w-full p-[14px] rounded transition">
            <figure class="flex items-center justify-center">
                <img
                    class="object-cover w-full aspect-square rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt="Logo Application."
                /><img
                    class="absolute opacity-70 transform-gpu blur-lg -z-10 block object-cover w-full aspect-square transition bg-white rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt=""
                />
            </figure>
            <header class="flex items-center justify-between mt-4 gap-x-2">
                <h3 class="text-[16px] font-bold text-left text-white">
                    <a href="/" target="_blank" rel="external noopener nofollow"
                        >Icons</a
                    >
                </h3>
            </header>
            <footer class="flex items-center justify-between gap-x-2">
                <p class="text-xs text-left text-white/60">
                    By: Brayan Cardona
                </p>
            </footer>
        </div>
    </article>

    <article
        class="relative flex flex-col items-center justify-center w-full transition-all bg-[#121226]/50 border border-midu-primary/40 rounded-[20px] group overflow-hidden hover:scale-105 max-w-52"
    >
        <div class="w-full p-[14px] rounded transition">
            <figure class="flex items-center justify-center">
                <img
                    class="object-cover w-full aspect-square rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt="Logo Application."
                /><img
                    class="absolute opacity-70 transform-gpu blur-lg -z-10 block object-cover w-full aspect-square transition bg-white rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt=""
                />
            </figure>
            <header class="flex items-center justify-between mt-4 gap-x-2">
                <h3 class="text-[16px] font-bold text-left text-white">
                    <a href="/" target="_blank" rel="external noopener nofollow"
                        >Icons</a
                    >
                </h3>
            </header>
            <footer class="flex items-center justify-between gap-x-2">
                <p class="text-xs text-left text-white/60">
                    By: Brayan Cardona
                </p>
            </footer>
        </div>
    </article>

    <article
        class="relative flex flex-col items-center justify-center w-full transition-all bg-[#121226]/50 border border-midu-primary/40 rounded-[20px] group overflow-hidden hover:scale-105 max-w-52"
    >
        <div class="w-full p-[14px] rounded transition">
            <figure class="flex items-center justify-center">
                <img
                    class="object-cover w-full aspect-square rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt="Logo Application."
                /><img
                    class="absolute opacity-70 transform-gpu blur-lg -z-10 block object-cover w-full aspect-square transition bg-white rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt=""
                />
            </figure>
            <header class="flex items-center justify-between mt-4 gap-x-2">
                <h3 class="text-[16px] font-bold text-left text-white">
                    <a href="/" target="_blank" rel="external noopener nofollow"
                        >Icons</a
                    >
                </h3>
            </header>
            <footer class="flex items-center justify-between gap-x-2">
                <p class="text-xs text-left text-white/60">
                    By: Brayan Cardona
                </p>
            </footer>
        </div>
    </article>

    <article
        class="relative flex flex-col items-center justify-center w-full transition-all bg-[#121226]/50 border border-midu-primary/40 rounded-[20px] group overflow-hidden hover:scale-105 max-w-52"
    >
        <div class="w-full p-[14px] rounded transition">
            <figure class="flex items-center justify-center">
                <img
                    class="object-cover w-full aspect-square rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt="Logo Application."
                /><img
                    class="absolute opacity-70 transform-gpu blur-lg -z-10 block object-cover w-full aspect-square transition bg-white rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt=""
                />
            </figure>
            <header class="flex items-center justify-between mt-4 gap-x-2">
                <h3 class="text-[16px] font-bold text-left text-white">
                    <a href="/" target="_blank" rel="external noopener nofollow"
                        >Icons</a
                    >
                </h3>
            </header>
            <footer class="flex items-center justify-between gap-x-2">
                <p class="text-xs text-left text-white/60">
                    By: Brayan Cardona
                </p>
            </footer>
        </div>
    </article>

    <article
        class="relative flex flex-col items-center justify-center w-full transition-all bg-[#121226]/50 border border-midu-primary/40 rounded-[20px] group overflow-hidden hover:scale-105 max-w-52"
    >
        <div class="w-full p-[14px] rounded transition">
            <figure class="flex items-center justify-center">
                <img
                    class="object-cover w-full aspect-square rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt="Logo Application."
                /><img
                    class="absolute opacity-70 transform-gpu blur-lg -z-10 block object-cover w-full aspect-square transition bg-white rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt=""
                />
            </figure>
            <header class="flex items-center justify-between mt-4 gap-x-2">
                <h3 class="text-[16px] font-bold text-left text-white">
                    <a href="/" target="_blank" rel="external noopener nofollow"
                        >Icons</a
                    >
                </h3>
            </header>
            <footer class="flex items-center justify-between gap-x-2">
                <p class="text-xs text-left text-white/60">
                    By: Brayan Cardona
                </p>
            </footer>
        </div>
    </article>

    <article
        class="relative flex flex-col items-center justify-center w-full transition-all bg-[#121226]/50 border border-midu-primary/40 rounded-[20px] group overflow-hidden hover:scale-105 max-w-52"
    >
        <div class="w-full p-[14px] rounded transition">
            <figure class="flex items-center justify-center">
                <img
                    class="object-cover w-full aspect-square rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt="Logo Application."
                /><img
                    class="absolute opacity-70 transform-gpu blur-lg -z-10 block object-cover w-full aspect-square transition bg-white rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt=""
                />
            </figure>
            <header class="flex items-center justify-between mt-4 gap-x-2">
                <h3 class="text-[16px] font-bold text-left text-white">
                    <a href="/" target="_blank" rel="external noopener nofollow"
                        >Icons</a
                    >
                </h3>
            </header>
            <footer class="flex items-center justify-between gap-x-2">
                <p class="text-xs text-left text-white/60">
                    By: Brayan Cardona
                </p>
            </footer>
        </div>
    </article>

    <article
        class="relative flex flex-col items-center justify-center w-full transition-all bg-[#121226]/50 border border-midu-primary/40 rounded-[20px] group overflow-hidden hover:scale-105 max-w-52"
    >
        <div class="w-full p-[14px] rounded transition">
            <figure class="flex items-center justify-center">
                <img
                    class="object-cover w-full aspect-square rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt="Logo Application."
                /><img
                    class="absolute opacity-70 transform-gpu blur-lg -z-10 block object-cover w-full aspect-square transition bg-white rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt=""
                />
            </figure>
            <header class="flex items-center justify-between mt-4 gap-x-2">
                <h3 class="text-[16px] font-bold text-left text-white">
                    <a href="/" target="_blank" rel="external noopener nofollow"
                        >Icons</a
                    >
                </h3>
            </header>
            <footer class="flex items-center justify-between gap-x-2">
                <p class="text-xs text-left text-white/60">
                    By: Brayan Cardona
                </p>
            </footer>
        </div>
    </article>

    <article
        class="relative flex flex-col items-center justify-center w-full transition-all bg-[#121226]/50 border border-midu-primary/40 rounded-[20px] group overflow-hidden hover:scale-105 max-w-52"
    >
        <div class="w-full p-[14px] rounded transition">
            <figure class="flex items-center justify-center">
                <img
                    class="object-cover w-full aspect-square rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt="Logo Application."
                /><img
                    class="absolute opacity-70 transform-gpu blur-lg -z-10 block object-cover w-full aspect-square transition bg-white rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt=""
                />
            </figure>
            <header class="flex items-center justify-between mt-4 gap-x-2">
                <h3 class="text-[16px] font-bold text-left text-white">
                    <a href="/" target="_blank" rel="external noopener nofollow"
                        >Icons</a
                    >
                </h3>
            </header>
            <footer class="flex items-center justify-between gap-x-2">
                <p class="text-xs text-left text-white/60">
                    By: Brayan Cardona
                </p>
            </footer>
        </div>
    </article>

    <article
        class="relative flex flex-col items-center justify-center w-full transition-all bg-[#121226]/50 border border-midu-primary/40 rounded-[20px] group overflow-hidden hover:scale-105 max-w-52"
    >
        <div class="w-full p-[14px] rounded transition">
            <figure class="flex items-center justify-center">
                <img
                    class="object-cover w-full aspect-square rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt="Logo Application."
                /><img
                    class="absolute opacity-70 transform-gpu blur-lg -z-10 block object-cover w-full aspect-square transition bg-white rounded-[10px]"
                    src="/logo-icons-proyect.jpeg"
                    alt=""
                />
            </figure>
            <header class="flex items-center justify-between mt-4 gap-x-2">
                <h3 class="text-[16px] font-bold text-left text-white">
                    <a href="/" target="_blank" rel="external noopener nofollow"
                        >Icons</a
                    >
                </h3>
            </header>
            <footer class="flex items-center justify-between gap-x-2">
                <p class="text-xs text-left text-white/60">
                    By: Brayan Cardona
                </p>
            </footer>
        </div>
    </article>
</div>
