<div id="containerCounterWords">
    <h3 class="text-start font-bold">Counter Words / Letters</h3>
    <div class="flex flex-col items-center">
        <textarea
            cols="65"
            id="counterTextArea"
            class="my-3 bg-transparent border border-blue-400 w-full min-h-[200px] max-h-[400px] p-2 rounded-md focus:border-blue-800 focus:outline-0"
            placeholder="Paste or write your text here..."></textarea>
        <div
            class="p-3 flex flex-row flex-wrap w-full gap-6 justify-center items-center"
        >
            <!-- <span class="bg-blue-100 text-blue-800 font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">Letters:</span> -->
            <p>
                Letters With Spaces: <span class="elemWithSpaces font-bold"
                    >0</span
                >
            </p>
            <p>
                LettersAny Spaces: <span class="elemAnySpaces font-bold">0</span
                >
            </p>
            <!-- <b class="bg-blue-100 text-blue-800 font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-100">Words:</b> -->
            <p>Length Words: <span class="elemWords font-bold">0</span></p>
        </div>
    </div>
</div>

<script is:inline>

    const textArea = document.querySelector("#counterTextArea");
    const elemWithSpaces = document.querySelector(".elemWithSpaces");
    const elemAnySpaces = document.querySelector(".elemAnySpaces");
    const elemWords = document.querySelector(".elemWords");

    function changeCounterTextArea(e) {
        elemWithSpaces.textContent = e.target.value.length;
        elemAnySpaces.textContent = e.target.value
            .replace(/[\n\r]/g, "")
            .split(" ")
            .join("").length;
        elemWords.textContent = e.target.value
            .replace(/[\n\r]/g, " ")
            .split(" ")
            .filter((x) => x !== "").length;
          }


    textArea.addEventListener("input", changeCounterTextArea);
</script>
