<footer class="flex flex-col justify-center items-center text-slate-300 text-center my-10">
    <p>Development by: <span>Brayan Cardona.</span></p>
    <!-- <p>The images shown on this website were created in Adobe Express.</p> -->
    
</footer>