---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---


<header class="flex flex-col justify-center items-center text-slate-200 my-6 mx-4">
	<h1 class="font-bold text-center text-6xl my-3">🛠 My Tools 🛠</h1>
	<p class="text-slate-400 text-center">This web shows diferrents applications that help me in my daily.</p>
</header>
