---

import CounterWords from "../components/CounterWords.astro";
import ImageBase64 from "../components/ImageBase64.astro";
import ToolRecordingScreen from "../components/ToolRecordingScreen.astro";

---


<h2 class="font-bold text-center text-4xl my-8">Mini Tools</h2>

<div class="w-full flex flex-wrap justify-evenly items-center gap-3">
    
    <CounterWords/>
    <ImageBase64/>
    <ToolRecordingScreen/>


</div>


